$white:             #FFFFFF;   
$color-1:           #506276;
$color-2:           #212531;
$color-3:           #D2D7DB;

$galaxy:        1140px;
$solarsystem:   1024px;
$interstellar:  800px;
$planetary:     520px;


$fam-body:          'Open Sans', sans-serif;
$fam-heading:       $fam-body;